DATABASE_URL="file:./dev.db"
TOMTOM_API_KEY=""
TOMTOM_BASE_URL="https://api.tomtom.com"
TOMTOM_FLOW_VERSION="4"
TOMTOM_FLOW_STYLE="absolute"
TOMTOM_FLOW_ZOOM="12"
TOMTOM_FLOW_UNIT="kmph"
INGEST_TIMEZONE="Africa/Cairo"
INGEST_ACTIVE_START_HOUR_LOCAL="7"
INGEST_ACTIVE_END_HOUR_LOCAL="24"
INGEST_DAILY_REQUEST_CAP="2450"
INGEST_REQUEST_TIMEOUT_MS="10000"
INGEST_MAX_RETRIES="2"
BACKEND_API_BASE_URL=""
BACKEND_API_SECRET=""
BACKEND_API_TIMEOUT_MS="8000"
API_REQUIRE_BACKEND_SECRET="false"
BACKEND_PROXY_ADMIN_REFRESH_ENABLED="false"
ADMIN_REFRESH_ENABLED="false"
ADMIN_REFRESH_MAX_SECONDS="420"
